<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page - Publications</title>
</head>
<body>
<h1> Admin page </h1>

<table>
    <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>PASSWORD</th>
        <th>ROLE</th>
    </tr>
    <!--/*@thymesVar id="users" type="com.kuzmenchuk.publications.repository.model.User"*/-->
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.username}">Title ...</td>
        <td th:text="${user.password}">Text ...</td>
        <td th:text="${user.role}">Text ...</td>
    </tr>
</table>
</body>
</html>