<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Page - Publications</title>
</head>
<body>
<h1> Admin page </h1>

<table>
    <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>PASSWORD</th>
        <th>ROLE</th>
    </tr>
    <!--/*@thymesVar id="users" type="com.kuzmenchuk.publications.repository.model.User"*/-->
    <tr th:each="user : ${users}">
        <form th:object="${updUser}" th:action="@{/admin/update/{id}(id=${user.id})}" method="post">
            <td>
                <span id="id" name="id" th:value="${user.id}" th:text="${user.id}"></span>
            </td>
            <td>
                    <input id="username" name="username" th:value="${user.username}" />
            </td>
            <td>
                    <input id="password" name="password" style="width: 600px" th:value="${user.password}"/>
            </td>
            <td>
                    <select id="role" name="role">
                        <option th:each="role : ${roles}"
                                th:value="${role}"
                                th:text="${role}"
                                th:selected="${role.equalsIgnoreCase(user.role)}">
                        </option>

                    </select>
            </td>
            <td>
                <button type="submit"> Update</button>
            </td>
        </form>
        <td>
        <div>
            <form th:action="@{/admin/delete/{id}(id=${user.id})}" method="post"><button type="submit">Delete</button></form>
        </div>
        </td>
    </tr>
</table>
<div>
    <a th:href="@{/index}"><button>Home Page</button></a>
</div>
</body>
</html>