<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home - Publications</title>
</head>
<body>
Home Page

<div th:if="${param.logout}" class="alert alert-success">
    You have been logged out.
</div>

<div sec:authorize="isAuthenticated()">
<a th:text="${#authentication.name}" th:href="@{user/profile/{username}(username=${#authentication.name})}"></a>
<div th:text="${#authentication.authorities}"></div>
    <form th:action="@{/logout}" method="post">
        <div>
            <button type="submit">Log Out </button>
        </div>
    </form>
</div>
<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/login}"><button>Login</button></a>
</div>
<div>
    <a th:href="@{/show-all}"><button>Admin</button></a>
</div>
</body>
</html>