<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration - Publications</title>
</head>
<body>
<h1>Registration Form</h1>

<!--/*@thymesVar id="newUser" type="com.kuzmenchuk.publications.repository.model.User"*/-->
<form name="registration" th:object="${newUser}" th:action="@{/registration}" method='POST'>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <div th:if="${message}" th:text="${message}"></div>
    <div class="form-group" id="username_div">
        <input type="text" name="username" th:field="*{username}" class="form-control"
               id="username" placeholder="Name">
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
        </div>
    </div>
    </div>
    <div class="form-group">
        <input type="password" name="password" th:field="*{password}" class="form-control"
               id="password" placeholder="Password" />
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
        </div>
    </div>
    <div class="col-md-6 mt-5">
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form>
</body>
</html>