<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit publication - Publications</title>
</head>
<body>
<!--/*@thymesVar id="editPublication" type="com.kuzmenchuk.publications.repository.model.Publication"*/-->
<form name="newPublication" th:object="${editPublication}" th:action="@{/admin/publication/update/{id}(id=${editPublication.id})}" method='post'>
    <div>
        <input type="text" name="name" th:field="*{name}" class="form-control"
               id="name" placeholder="Name" th:value="${editPublication.name}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
        </div>
    </div>
    </div>
    <div>
        <input type="text" name="price" th:field="*{price}" class="form-control"
               id="price" placeholder="price" th:value="${editPublication.price}" />
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
        </div>
    </div>
    <div>
        <input type="text" name="description" th:field="*{description}" class="form-control"
               id="description" placeholder="description" th:value="${editPublication.description}" />
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
        </div>
    </div>
    <div>
        <input type="text" name="imageName" th:field="*{imageName}" class="form-control"
               id="imageName" placeholder="imageName" th:value="${editPublication.imageName}"/>
        <div th:if="${#fields.hasErrors('imageName')}" th:errors="*{imageName}">
        </div>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
</body>
</html>