<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All publications - Publications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    ul#menu li {
    display:inline;
    }
    </style>
</head>
<body>
<ul th:each="publication : ${publications}" id="menu">
    <li th:text="${publication.id}">ID</li>
    <li>Image</li>
    <li th:text="${publication.name}">Name</li>
    <li><a th:href="@{/publication/show/{id}(id=${publication.id})}" th:text="${publication.description}">Description</a></li>
    <li th:text="${publication.price}">Price</li>
    <li><a th:href="@{/admin/publication/edit/{id}(id=${publication.id})}"><button type="button">EDIT</button></a>
        <form th:action="@{/admin/publication/delete/{id}(id=${publication.id})}" method="post"><button type="submit">DELETE</button></form></li>
</ul>
<div>
    <a th:href="@{/index}"><button>Home Page</button></a>
    <a th:href="@{/admin/publication/add-publication}"><button>New publication</button></a>
    </div>
</div>
</body>
</html>