<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New publication - Publications</title>
</head>
<body>
<!--/*@thymesVar id="newPublication" type="com.kuzmenchuk.publications.repository.model.Publication"*/-->
<form name="newPublication" th:object="${newPublication}" th:action="@{/admin/publication/new-publication}" method='post'>
    <div>
        <input type="text" name="name" th:field="*{name}"
               id="name" placeholder="Name">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
        </div>
    </div>
    </div>
    <div>
        <input type="text" name="price" th:field="*{price}"
               id="price" placeholder="price" />
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
        </div>
    </div>
    <div>
        <input type="text" name="description" th:field="*{description}"
               id="description" placeholder="description" />
        </div>
    </div>
    <div>
        <input type="text" name="imageName" th:field="*{imageName}"
               id="imageName" placeholder="imageName" />
        </div>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
</body>
</html>