<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta content="text/html" charset="UTF-8">
    <title>Publication info - Publications</title>
</head>
<body>
<div>
    <label th:text="${publication.name}"></label>
</div>
<div>
<!--    <img width="220px" height="220px"  th:src="@{/img/{image}(image=${publication.imageName})}" />-->
    <img width="220px" height="220px"  th:src="@{/images/{image}(image=${publication.imageName})}" />
</div>
<div>
    Price: <label th:text="${publication.price}"></label>
</div>
<div>
    Description: <label th:text="${publication.description}"></label>
</div>
</body>
</html>